<?xml version="1.0"?>
<robot>

  <gazebo reference="chassis">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="link_rear_left_wheel">
    <material>Gazebo/Black</material>
        <mu1>1</mu1>
    <mu2>0</mu2>
        <fdir>0 0 1</fdir>

  </gazebo>
    <gazebo reference="link_rear_right_wheel">
    <material>Gazebo/Black</material>
            <mu1>1</mu1>
    <mu2>0</mu2>
        <fdir>0 0 1</fdir>

  </gazebo>
    <gazebo reference="link_front_left_wheel">
    <material>Gazebo/Black</material>
            <mu1>1</mu1>
    <mu2>0</mu2>
        <fdir>0 0 1</fdir>

  </gazebo>
    <gazebo reference="link_front_right_wheel">
    <material>Gazebo/Black</material>
            <mu1>1</mu1>
    <mu2>0</mu2>
    <fdir>0 0 1</fdir>
  </gazebo>
  
  

<gazebo>

<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" >
      <legacyModeNS>true</legacyModeNS>
      <!-- <robotNamespace>/percy</robotNamespace> -->
    </plugin>

  <!-- <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
    <updateRate>20</updateRate>
    <robotNamespace>/</robotNamespace>
    <leftFrontJoint>joint_front_left_wheel</leftFrontJoint>
    <rightFrontJoint>joint_front_right_wheel</rightFrontJoint>
    <leftRearJoint>joint_rear_left_wheel</leftRearJoint>
    <rightRearJoint>joint_rear_right_wheel</rightRearJoint>
    <wheelSeparation>0.6</wheelSeparation>
    <wheelDiameter>0.2</wheelDiameter>
    <torque>50</torque>
    <commandTopic>cmd_vel</commandTopic> -->


<!-- <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>joint_front_left_wheel</leftJoint>
      <rightJoint>joint_rear_right_wheel</rightJoint>

      <wheelSeparation>0.6</wheelSeparation>
      <wheelDiameter>0.2</wheelDiameter>
      <torque>10</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>origin</robotBaseFrame>

</plugin> -->

</gazebo>



    <gazebo reference="camera_front_link">
    <material>Gazebo/Blue</material>

  <sensor type="camera" name="camera_front">
    <update_rate> 30.0 </update_rate>
    <camera name="head">
    <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
    </camera>
    <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>percy/camera_front</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_front_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
  </sensor>
</gazebo>

<gazebo reference="camera_rear_link">
    <material>Gazebo/Red</material>

  <sensor type="camera" name="camera_rear">
    <update_rate> 30.0 </update_rate>
    <camera name="rear">
    <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
    </camera>
    <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>percy/camera_rear</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_rear_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
  </sensor>
</gazebo>
   <gazebo reference="camera_side_link">
    <material>Gazebo/Black</material>

  <sensor type="camera" name="camera_side">
    <update_rate> 30.0 </update_rate>
    <camera name="side">
    <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
    </camera>
    <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>percy/camera_side</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_side_info</cameraInfoTopicName>
        <frameName>camera_side_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
  </sensor>
</gazebo>

</robot>